<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ajou.capstone_design_freitag">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".WebViewActivity"></activity>
        <activity android:name=".TextCollectionActivity" />
        <activity android:name=".RequestDetailActivity"></activity>
        <activity
            android:name=".PopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/popupTheme" />
        <activity android:name=".ClassificationActivity" />
        <activity android:name=".AudioCollectionActivity" />
        <activity android:name=".ImageCollectionActivity" />
        <activity android:name=".ProjectDetailActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".Audio.AudioTrimmerActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>